interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.themoviedb.org/3/movie/300671?api_key=b6dcd3ce6d71f843e91506c263fa678e
  response:
    body:
      string: "{\"adult\":false,\"backdrop_path\":\"/ayDMYGUNVvXS76wQgFwTiUIDNb5.jpg\"\
        ,\"belongs_to_collection\":null,\"budget\":50000000,\"genres\":[{\"id\":28,\"\
        name\":\"Action\"},{\"id\":36,\"name\":\"History\"},{\"id\":53,\"name\":\"\
        Thriller\"}],\"homepage\":\"http://www.thirteenhoursmovie.com/\",\"id\":300671,\"\
        imdb_id\":\"tt4172430\",\"original_language\":\"en\",\"original_title\":\"\
        13 Hours: The Secret Soldiers of Benghazi\",\"overview\":\"An American Ambassador\
        \ is killed during an attack at a U.S. compound in Libya as a security team\
        \ struggles to make sense out of the chaos.\",\"popularity\":18.009,\"poster_path\"\
        :\"/4qnEeVPM8Yn5dIVC4k4yyjrUXeR.jpg\",\"production_companies\":[{\"id\":4,\"\
        logo_path\":\"/fycMZt242LVjagMByZOLUGbCvv3.png\",\"name\":\"Paramount\",\"\
        origin_country\":\"US\"},{\"id\":787,\"logo_path\":\"/cCefBs1t7jxtiz3eCxBp9yxrxGx.png\"\
        ,\"name\":\"3 Arts Entertainment\",\"origin_country\":\"US\"},{\"id\":6734,\"\
        logo_path\":null,\"name\":\"Bay Films\",\"origin_country\":\"\"},{\"id\":19108,\"\
        logo_path\":null,\"name\":\"Latina Pictures\",\"origin_country\":\"MT\"},{\"\
        id\":19477,\"logo_path\":null,\"name\":\"Dune Films\",\"origin_country\":\"\
        MA\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United\
        \ States of America\"}],\"release_date\":\"2016-01-13\",\"revenue\":69411370,\"\
        runtime\":144,\"spoken_languages\":[{\"iso_639_1\":\"ar\",\"name\":\"\u0627\
        \u0644\u0639\u0631\u0628\u064A\u0629\"},{\"iso_639_1\":\"en\",\"name\":\"\
        English\"}],\"status\":\"Released\",\"tagline\":\"When everything went wrong,\
        \ six men had the courage to do what was right.\",\"title\":\"13 Hours: The\
        \ Secret Soldiers of Benghazi\",\"video\":false,\"vote_average\":7.1,\"vote_count\"\
        :2061}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"64a8ee421323d182e57691ad253b1149"
      Last-Modified:
      - Mon, 10 Aug 2020 22:50:23 GMT
      x-memc:
      - HIT
      x-memc-age:
      - '18174'
      x-memc-expires:
      - '3426'
      x-memc-key:
      - ae5104d1ad5900a054ff95838b14477a
    status:
      code: 200
      message: OK
    url: https://api.themoviedb.org/3/movie/300671?api_key=b6dcd3ce6d71f843e91506c263fa678e
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.themoviedb.org/3/company/19108?api_key=b6dcd3ce6d71f843e91506c263fa678e
  response:
    body:
      string: '{"description":"","headquarters":"","homepage":"http://www.filmmalta.com","id":19108,"logo_path":null,"name":"Latina
        Pictures","origin_country":"MT","parent_company":null}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"966befb35d73a0422600ca5fabbecda7"
      Last-Modified:
      - Mon, 10 Aug 2020 22:50:24 GMT
      x-memc:
      - HIT
      x-memc-age:
      - '801'
      x-memc-expires:
      - '20799'
      x-memc-key:
      - bd33a1a1a24d874c153a416e9b15b28c
    status:
      code: 200
      message: OK
    url: https://api.themoviedb.org/3/company/19108?api_key=b6dcd3ce6d71f843e91506c263fa678e
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.themoviedb.org/3/company/6734?api_key=b6dcd3ce6d71f843e91506c263fa678e
  response:
    body:
      string: '{"description":"","headquarters":"","homepage":"","id":6734,"logo_path":null,"name":"Bay
        Films","origin_country":null,"parent_company":null}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"a560ebc53084e154282c9836e7c8ba8e"
      Last-Modified:
      - Mon, 10 Aug 2020 22:50:24 GMT
      x-memc:
      - HIT
      x-memc-age:
      - '110'
      x-memc-expires:
      - '21490'
      x-memc-key:
      - 10a3d2fbbe30085d8ed51f326cee8d40
    status:
      code: 200
      message: OK
    url: https://api.themoviedb.org/3/company/6734?api_key=b6dcd3ce6d71f843e91506c263fa678e
version: 1
